
h1{
    color:red;
    text-align:center;
    font-size:50px;
    font-family: 'Shadows Into Light', cursive;
}
h3{
    text-align:center;
    font-size:30px;
}
body {
    background-image: url("girls.jpg");
    background-size: 100%;
<<<<<<< HEAD
    
   
    
=======
}
div{
    display:block;
    
    color: white;
>>>>>>> f720fa7d9256c1078d9b86b8b950fd241c1aad29
}