
h1{
    color:red;
    text-align:center;
    font-size:50px;
    font-family: 'Shadows Into Light', cursive;
}
h3{
    text-align:center;
    font-size:30px;
}
body {
    background-image: url("girl.jpg");
    background-size: 100%;
    
   
    
}