h1{
    color:white;
    text-shadow: 2px 2px black;
    text-align:center;
    font-size:50px;
    font-family: 'Shadows Into Light', cursive;
}
h3{
    text-align:center;
    font-size:30px;
    
}
h2{
    text-align:center;
    font-size:20px;
}
body {
    background-image: url("girls.jpg");
    background-size: 100%;
}
.info {
    color:yellow;
    display:block;
    padding: 50px 30px 50px 80px;
}
p{
    text-align:center;
    font-size:20px;
    position: relative;
}
img {
    margin-left: 100px;
}
#tickets{
    color:pink;
    float:right;
}
h2{
    
}